/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: lightgreen;
    color: black;
}

.navbar-inverse {
    background-color: red;
    border-color: red;
    color: white;
}

.navbar-header{
    color: white;
}

.navbar-nav{
    color: white;
}

img{
    height: fit-content;
    width: fit-content;
}





